html, body {
  overflow-x:hidden;
}

body {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Timmana", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 58px;
  color: #7751a0;
}

h2 {
  font-size: 35px;
}

p {
  font-size: 20px;
  line-height: 30px;
}
strong {
  font-weight: bolder;
}


.hero-intro{
  padding-left: 24%;
  padding-right: 24%; 
}
.img {
  width: 100%;
  height: auto;
}
.name {
  font-size: 18px;
  line-height: 25px;
}
.title {
  font-size: 16px;
  line-height: 18px;
}
.img-circle {
  border-radius: 50%;
  border: 4px solid #ffffff;
}
.benefits {
  background-color: #89c544;
}

/* GRID */

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
.one-half, .one-third, .one-fourth, .three-quarters, .container-face .container-quote{
  width: 96%;
  float: left;
  position: relative;
  min-height: 1px;
  margin: 0 2% 20px;
}
.three-quarters-right, .container-face-right .container-quote-right{
  width: 96%;
  float: right;
  position: relative;
  min-height: 1px;
  margin: 0 2% 20px;
}



/* HEADER */

header {
  color:#000000;
}
header nav {
  padding:1em 0;
}
header nav ul {
  display: inline;
  text-align: right;
  float: right;
  margin: 0;
}
header nav ul > li{
  list-style-type: none;
  display: inline-block;
  margin: 0 15px;
}
header nav ul > li.btn-outline{
  padding:10px 15px;
  background-color: #ffffff;
  border: 2px solid #7751a0;
  border-radius: 30px;
}
header nav ul > li.btn-outline:hover{
  background-color:#7751a0;
}
header nav ul > li > a {
  font-family: "Timmana", Helvetica, Arial, sans-serif;
  color: #7751a0;
  text-decoration: none;
}
header nav ul > li.btn-outline:hover > a {
  color: #ffffff;
  text-decoration: none;
}
header .hero {
  text-align: center;
  display:block;
  position: relative;
}
header .hero h1 {
  font-size:58px;
  font-weight: normal;
  margin:25px 0 0;
  padding-bottom: 25px;
  line-height: 1;
}
header .hero p {
  font-family: "Timmana", Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 100;
  margin:10px 0 25px;
}
header .hero img {
  display: block;
  margin:0px auto 0;
  width: 100%;
  height: auto;
}


/* BUTTONS */

.btn {
  font-family: "Timmana", Helvetica, Arial, sans-serif;
  font-size: 30px;
  padding:10px 30px 0px 20px;
  background-color: #7751a0;
  border-radius: 15px;
  color: #ffffff;
  text-decoration: none;
}
.btnwide {
  position: absolute;
  bottom: 40px;
  left: 20px;
  right: 20px;
  font-family: "Timmana", Helvetica, Arial, sans-serif;
  font-size: 30px;
  padding:10px 15px 0px;
  line-height: 60px;
  background-color: #7751a0;
  border-radius: 30px;
  color: #ffffff;
  text-decoration: none;
}

/* BENEFITS */

.benefits {
   text-align: center;
   display: block;
   position: relative;
   padding-top: 80px;
   padding-bottom: 40px;
}
.benefits i {
   color: #ffffff;
   font-size: 60px;
   padding-bottom: 25px;
   margin: 0;
   vertical-align: middle;
}
.benefits h2 {
   font-size: 45px;
}

/* PRICING */

.pricing {
   text-align: center;
   padding: 4em 0;
}
.pricing h3 {
   font-size: 45px;
   line-height: 25px;
}
.pricing h4 {
   color: #000000;
   font-size: 65px;
   line-height: 25px;
}
.pricing ul li {
   list-style-type: none;
   text-align: left;
   font-size: 20px;
   line-height: 50px;
}
.pricing p {
   padding-bottom: 35px;
}
.pricing h4 span{

}
.pricing h4 span.month{
   font-size: 25px;
}
.pricing i {
   color: #89c544;
}
.box {
   background-color: #eae9e9;
   min-height: 600px;
   border-radius: 36px;
   margin-top: 50px;
}
.box.middle {
   min-height: 700px;
   margin-top: 0px;
}
.box h3 {
   color: #ffffff;
   background: #97918f;
   border-top-right-radius: 36px;
   border-top-left-radius: 36px; 
   text-align: center;
   margin: 0 0 20px;
   padding-top: 30px;
   padding-bottom: 10px;
}
.small {
   font-size: 15px;
   line-height: 20px;
   font-style: italic;
}

/* TESTIMONIALS */
.testimonials {
   padding: 4em 0;
   text-align: center;
   background-color: #eae9e9;
}
.testimonials h2 {
   color: #000000;
}
.testimonials ul li {
   list-style-type: none;
}
.container-quote {
   background-color: #ffffff;
   border-radius: 36px;
   padding: 10px;
}
.container-quote-right {
   background-color: #ffffff;
   border-radius: 36px;
   padding: 10px;
}
.container-quote blockquote {
   color:#000000;
   text-align: left;
   font-style: italic;
   position: relative;
   padding:15px;
   width:auto;
   margin:0;
}
.container-quote-right blockquote {
   color:#000000;
   text-align: left;
   font-style: italic;
   position: relative;
   padding:15px;
   width:auto;
   margin:0;
}
.container-quote:after{
   top: 100%;
   left: 23%;
   border: solid transparent;
   content: " ";
   width: 0;
   height: 0;
   border-style: solid;
   border-width: 20px 25px 20px 0;
   border-color: transparent #ffffff transparent transparent;
   position: absolute;
   top: 37px;
   left: 140px;
}
.container-quote-right:after{
   top: 100%;
   left: 13%;
   border: solid transparent;
   content: " ";
   width:0;
   height: 0;
   border-style: solid;
   border-width: 25px 20px 20px 25px;
   border-color: transparent transparent transparent #ffffff;
   position: absolute;
   top: 37px;
   left: 780px;
}
.container-quote p.name {
   float: left;
   display: inline-block;
   text-align: left;
   font-size: 20px;
   margin-top: 30px;
   padding-left: 15px;
}
.container-quote-right p.name {
   float: left;
   display: inline-block;
   text-align: left;
   font-size: 20px;
   margin-top: 30px;
   padding-left: 15px;
}
.container-quote p.title {
   float: left;
   display: inline-block;
   text-align: left;
   font-size: 13px;
   margin-top: 30px;
   padding-left: 15px;
}
.container-quote-right p.title {
   float: left;
   display: inline-block;
   text-align: left;
   font-size: 13px;
   margin-top: 30px;
   padding-left: 15px;
}

/* CTA */
.CTA {
   background-color: #89c544;
   padding-top: 10px;
   padding-bottom: 25px;
}
.CTA h2 {
   color: #ffffff;
   text-align: center;
   padding-top: 30px;
   padding-bottom: 10px;
}
.CTA p {
   color: #000000;
   text-align: center;
   padding-top: 30px;
   padding-bottom: 10px;
}

/* FOOTER */
.footer {
   background-color: #97918f;
   color: #000000;
   position: relative;
   z-index: 0;
 }
.left {
	width: 300px;
	float:left;
}
.left p {
	font-family: "Timmana", Helvetica, Arial, sans-serif;
	font-size:15px;	
}
.center {
	text-align:center;
	width: 400px;
	float:left;
}
.center p {
	font-family: "Poppins", Helvetica, Arial, sans-serif;
	font-size:12px;	
	color: #000000;
	text-decoration: none;
}
.center a {
	font-family: "Poppins", Helvetica, Arial, sans-serif;
	font-size:12px;	
	color: #000000;
	text-decoration: none;
}
.right {
	width: 100px;
	float:left;
}



/* Media */
@media (min-width: 768px){
  .container {
    width: 750px;
  }
}
@media (min-width: 992px){
  .container {
    width: 970px;
  }
  .one-half {
    width: 46%;
  }
  .one-third {
    width: 29.33333%;
  }
  .offset-center {
    width: 40%;
  }
  .offset-one-third {
    width: 15%;
  }
  .one-fourth {
    width: 21%;
  }
  .three-quarters {
    width: 81%;
  }
  .three-quarters-right {
    width: 81%;
  }
  .container-face {
    width: 15%;
  }
  .container-face-right {
    width: 15%;
  }
  .container-quote {
    width: 70%;
  }
  .container-quote-right {
    width: 70%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

 @media (min-width: 992px){
   footer{
     background-color: #97918f;
   }
   footer p, footer nav ul{
     padding: 2em 0;
     text-align: left;
   }
   footer .right-footer-block {
     background-color: #97918f;
   }
   footer .logo{
     padding: 0;
     height: auto;
     width: 200px;
   }
 }

/* DASHBOARD */
.dashboard {
  background:#e7e7e7;
}
.left-nav{
  height: 100%;
  width: 280px;
  color: #ffffff;
  background: #97918f;
  float: left;
  position: absolute;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   transform: translate(-280px,0);
    -webkit-transform: translate(-280px,0); /** Chrome & Safari **/
    -o-transform: translate(-280px,0); /** Opera **/
    -moz-transform: translate(-280px,0); /** Firefox **/
}
.left-nav.open {
   display:block;
   width:280px;
   background: #34495E;
   background-image: linear-gradient(206deg, #5F81A3 0%, #34495E 94%);
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
     z-index: 100;
}
.hamburger {
   position:absolute;
   z-index: 1000;
   background: inherit;
   color:#7751a0;
   border: 2px solid #7751a0;
   text-decoration: none;
   font-size: 22px;
   padding: 10px 15px;
   border-radius: 15px;
   left: 5px;
   top: 15px;
}
 @media (min-width:992px) {
   .left-nav {
     height: 100vh;
     width:14.66666667%;
     color:#FFFFFF;
     background: #97918f;
     float:left;
     position: fixed;
     display:block;
     transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
   }
   .left-nav.open {
     width:14.66666667%;
     transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
   }
   .hamburger {
     display:none;
   }
 }
.left-nav .site-logo {
  padding:20px 0;
  display:block;
  text-align: center;
  width: 50%;
}
.left-nav .items {
  padding:0 ;
}
.left-nav .items p {
  font-family: "Timmana", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 36px;
  color: #ffffff;
  line-height: 40px;
  margin-bottom: 5px;
  margin-top: 50px;
  padding-left: 6%;
}
.left-nav .items ul {
  margin:0 0 10px;
  padding:0;
}
.left-nav .items ul li {
  list-style-type: none;
  margin-bottom: 15px;
  display: block;
  width: 100%;
  font-weight: 900;
  padding-left: 6%;
}
.left-nav .items ul li a {
  color:#ffffff;
  text-decoration: none;
  font-weight: 900;
  text-transform: uppercase;
}
.left-nav .items ul li a:hover {
  color:#ffffff;
  background-color: #8ac644;
  padding-left: 6%;
  padding-right: 0px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  display: block;
  margin-left: -6%;
  margin-right: 6%;
}
.left-nav .items ul li a:active {
  color:#000000;
  background-color: #7751a0;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
}
.left-nav .items ul li a i {
  width:16px;
  text-align: center;
  margin-right:8px;
}
.left-nav .items ul li a.current  {
  color: #7751a0;
  background-color: #ffffff;
  padding-left: 6%;
  padding-right: 5px;
  text-transform: uppercase;
  font-weight: 900;
  display: block;
  margin-left: -6%;
  margin-right: 6%;
}

/* LEFT NAVBAR SETTINGS */
.left-nav .settings {
  position:absolute;
  width:100%;
  bottom:0;
  left:0;
  right:0;
  padding:10px 0;
}
.left-nav .settings img {
  height:35px;
  width:35px;
  border-radius: 50%;
  margin-left:10px;
  display: inline-block;
}
.left-nav .settings p {
  display: inline-block;
  vertical-align: top;
  padding-top: 8px;
  font-weight: 400;
  margin:0 0 0 10px;
}
.left-nav .settings a {
  color:#FFFFFF;
  text-decoration: none;
  text-align: right;
  float: right;
  margin-right:10px;
  margin-top:8px;
}


/* CONTENT */
.content {
  padding:6em 1% 1.5em;
  float:right;
  width:98%;
  position: relative;
}
.content .header {
  margin:0 1% 20px;
}
.content .header h1 {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  margin:0 0 30px;
  font-size: 45px;
  color: #000000;
  line-height: 44px;
  float: left;
  display:inline-block;
}
.content .header > a {
  float:right;
}
.content-item {
  width:96%;
  margin:0 2% 25px;
  float:left;
  display:block;
}
.item-box {
  display:block;
  height:230px;
  background: #FFFFFF;
  border-right: 4px solid #97918f;
  border-bottom: 4px solid #97918f;
  position: relative;
  overflow: hidden;
}
.item-box h2 {
  font-family: "Timmana", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 17px;
  margin:0;
  padding: 20px 0px 20px 20px;
}
.item-box p {
  font-size: 14px;
  color: #333333;
  line-height: 18px;
  margin:5px 0 0;
  padding: 0px 20px 20px 20px;
}
.item-box img {
  max-width:200%;
  max-height:auto;
  vertical-align: middle;
  position:absolute;
  top:0;
  left:0;
  right:0;
}


/* Larger Mobile Devices */
 @media (min-width:460px) {
   .content {
     padding:1.5em 1%;
     float:right;
     width:90%;
     position: relative;
   }
   .content-item {
     width:46%;
     margin:0 2% 25px;
     float:left;
     display:block;
   }
 }
/* Tablets */
 @media (min-width:768px) {
   .content {
     padding:1.5em 5%;
     float:right;
     width:90%;
     position: relative;
   }
   .content > .container {
     width:700px;
   }
   .content-item {
     width:31.33333%;
     margin:0 1% 25px;
   }
 }
/* Laptops and Desktops */
 @media (min-width:992px) {
   .content {
     padding:1.5em 1%;
     float:right;
     width:83.33333333%;
     position: relative;
   }
   .content > .container {
     width:auto;
   }
   .content-item {
     width:23%;
     margin:0 1% 25px;
   }
 }
.item-box h2 a {
   color: #8ac644;
   text-decoration: none;
 }
.item-box h2 img {
   width:16px;
   height:16px;
   position:relative;
   top:2px;
   margin-right:5px;
 }



